.v-btn::before {
    content: none !important;
}

.v-tabs {
    flex-grow: 0 !important;
}

.v-window {
    flex-grow: 1 !important;
}

.v-window__container, .v-window-item {
    height: 100% !important;
    display: flex;
    flex-direction: column;
}

.v-list {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
